<div class="flex overflow-hidden border-0 border-b-2 border-solid border-slate-200">
  <form
    class="column p-4 flex flex-col"
    #f="ngForm"
    (ngSubmit)="addRule(f, 'inclusive'); startOnInput.focus()"
  >
    <mat-chip-listbox multiple [ngModel]="defaultVenues" name="venues" class="mb-2">
      <mat-chip-option *ngFor="let v of data.tournament.venues" [value]="v">
        {{ v.name }}
      </mat-chip-option>
    </mat-chip-listbox>

    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="startPicker"
        [ngModel]="data.tournament.start_at"
        name="startOn"
        required
        #startOnInput
      />
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Start Time</mat-label>
      <input matInput type="time" ngModel name="startAt" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>End Time</mat-label>
      <input matInput type="time" ngModel name="endAt" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Duration</mat-label>
      <input matInput type="number" ngModel name="duration" />
      <mat-hint>in minutes, for each match</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Gap</mat-label>
      <input matInput type="number" ngModel name="gap" />
      <mat-hint>in minutes</mat-hint>
    </mat-form-field>

    <mat-slide-toggle [ngModel]="false" name="repeat" #repeatModel="ngModel" class="mb-4">
      Repeat?
    </mat-slide-toggle>

    <mat-form-field *ngIf="repeatModel.control.value">
      <mat-label>Every X days</mat-label>
      <input matInput type="number" ngModel name="repeatDays" required />
    </mat-form-field>

    <mat-form-field *ngIf="repeatModel.control.value">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endPicker" [ngModel]="data.tournament.end_at" name="endOn" />
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
      <mat-hint>including this day</mat-hint>
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" [disabled]="f.invalid">Add Rule</button>
    </div>
  </form>

  <div class="column flex flex-col">
    <mat-list *ngIf="rules.value.length; else noRules" class="flex-1">
      <ng-container *ngFor="let rule of rules | async | sort : '-type' : 'startOn'">
        <mat-list-item *ngIf="isInclusive(rule)">
          <span matListItemTitle>
            <span>{{ rule.startOn | date : 'yyyy-MM-dd' }} {{ rule.startAt }}</span>
            <span *ngIf="rule.endAt"> - {{ rule.endAt }}</span>
          </span>
          <span matListItemLine>
            <span *ngFor="let c of rule.venues; last as isLast">
              <span>{{ c.name }}</span>
              <span *ngIf="!isLast">, </span>
            </span>
          </span>
          <span matListItemLine [ngSwitch]="rule.repeat">
            <span *ngSwitchCase="true">
              <span>Every {{ rule.repeatDays }} Days</span>
              <span *ngIf="rule.endOn"> till {{ rule.endOn | date : 'yyyy-MM-dd' }}</span>
            </span>
            <span *ngSwitchCase="false">No Repeat</span>
          </span>
          <div matListItemMeta>
            <button mat-icon-button color="warn" (click)="delRule(rule)">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="isExclusive(rule)">
          <span matListItemTitle>
            <span>{{ rule.startOn | date : 'yyyy-MM-dd' }}</span> -
            <span>{{ rule.endOn | date : 'yyyy-MM-dd' }}</span>
          </span>
          <span matListItemLine>No Games</span>
          <div matListItemMeta>
            <button mat-icon-button color="warn" (click)="delRule(rule)">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </ng-container>
    </mat-list>

    <form class="p-4 pl-0 flex flex-col" #g="ngForm" (ngSubmit)="addRule(g, 'exclusive')">
      <mat-form-field>
        <mat-label>Exclude Dates</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
          <input matStartDate matInput ngModel name="startOn" required />
          <input matEndDate matInput ngModel name="endOn" required />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker></mat-date-range-picker>
      </mat-form-field>
      <div>
        <button mat-raised-button color="warn" [disabled]="g.invalid">Add Rule</button>
      </div>
    </form>
  </div>

  <ng-template #noRules>
    <div
      class="m-4 ml-0 p-8 border-dashed border-2 border-gray-200 rounded-lg flex items-center flex-1"
    >
      No scheduling rules created yet
    </div>
  </ng-template>

  <div class="column shadow-md px-2">
    <mat-list>
      <mat-list-item *ngFor="let m of scheduledMatches | async">
        <span matListItemTitle>{{ m.leftP?.name }} vs {{ m.rightP?.name }}</span>
        <span matListItemLine>{{ m.start_at | date : 'yyyy-MM-dd HH:mm' }}</span>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<mat-dialog-actions align="end">
  <button mat-button matDialogClose>Cancel</button>
  <button mat-button color="primary" (click)="applySchedule()">Apply Schedule</button>
</mat-dialog-actions>
