<mat-card appearance="outlined" class="mb-4" cdkDropListGroup>
  <mat-card-header>
    <mat-card-title>{{ stage.name }}</mat-card-title>
    <mat-card-subtitle>
      <span>{{ stage.type | apply : casing }}</span>
      <span *ngIf="stage.groups.length as count">, Group count: {{ count }}</span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="!flex gap-4">
    <div
      class="relative p-4 mt-4 min-w-[20px] bg-slate-200 rounded"
      *ngFor="let g of stage.groups | sort : 'seq'"
      cdkDropList
      [cdkDropListData]="g"
      (cdkDropListDropped)="changeGroup($event, stage)"
    >
      <button
        class="!absolute right-0 top-0 translate-x-1/4 -translate-y-1/4 bg-red-100/50 transition opacity-50 hover:bg-red-100 hover:opacity-100"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        [matMenuTriggerData]="{$implicit: g, stage: stage}"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <h4 class="m-0 pr-4">Group {{ g.name }}</h4>

      <ul class="list-none p-0 mb-0 columns-2">
        <li
          *ngFor="let p of g.participants"
          cdkDrag
          [cdkDragData]="p"
          [cdkDragDisabled]="stage.groups.length < 2"
          class="flex items-center mb-1"
        >
          <mat-icon
            *ngIf="stage.groups.length >= 2; else item"
            cdkDragHandle
            fontIcon="drag_handle"
            class="cursor-move text-sm"
          ></mat-icon>
          <ng-template #item>
            <mat-icon class="text-sm" fontIcon="remove"></mat-icon>
          </ng-template>
          <span>{{ p.name }}</span>
          <span *cdkDragPreview class="block py-1 px-2 bg-slate-300 rounded">{{ p.name }}</span>
        </li>
      </ul>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary" (click)="addGroup(stage)">Add Group</button>
    <button
      *ngIf="stage.groups.length && index === 0"
      mat-button
      color="primary"
      (click)="fillParticipants(stage)"
    >
      Fill participants
    </button>
    <button mat-button (click)="clearParticipants(stage)">Clear Participants</button>
    <button mat-button (click)="genMatches(stage)">GEN</button>
    <button mat-button (click)="scheduleMatches(stage)">Schedule</button>
  </mat-card-actions>
</mat-card>

<tn-match-tree [groups]="stage.groups" [matches]="$any(stage.matches)"></tn-match-tree>

<mat-menu #menu>
  <ng-template matMenuContent let-group let-stage="stage">
    <button mat-menu-item (click)="editGroup(stage, group, editGroupForm)">
      Edit {{ group.name }}
    </button>
    <button mat-menu-item (click)="dropGroup(stage, group)">Remove {{ group.name }}</button>
  </ng-template>
</mat-menu>

<ng-template #editGroupForm let-group let-stage="stage">
  <mat-form-field>
    <mat-label>Group Name</mat-label>
    <input matInput [ngModel]="group.name" name="name" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label># of participants</mat-label>
    <input
      matInput
      type="number"
      min="0"
      [ngModel]="group.winner_count"
      name="winner_count"
      required
      [disabled]="stage.type != 'round_robin'"
    />
    <span matSuffix>To Win</span>
  </mat-form-field>
</ng-template>
