<div class="min-w-[360px] flex flex-col items-stretch px-4">
  <header
    class="flex justify-between items-center mb-4 sticky top-0 z-10 bg-white/[0.85] -mx-4 px-2"
  >
    <a mat-icon-button routerLink="/dashboard">
      <mat-icon>arrow_back</mat-icon>
    </a>

    <h3>
      {{ tournament?.name }}
      <a mat-icon-button routerLink="/tournaments/{{ tournament?.id }}/edit">
        <mat-icon fontIcon="edit"></mat-icon>
      </a>
    </h3>

    <mat-icon
      *ngIf="loading.count | async as c; else check"
      class="animate-spin"
      fontIcon="sync"
    ></mat-icon>
    <ng-template #check><mat-icon fontIcon="check_circle"></mat-icon></ng-template>
  </header>

  <section>
    <span>{{ tournament?.start_at | date }}</span>
    <span *ngIf="tournament?.end_at"> - {{ tournament?.end_at | date }}</span>

    <pre class="whitespace-pre-wrap">{{ tournament?.description }}</pre>
  </section>

  <section class="flex flex-col">
    <h4>Tournament Participants</h4>

    <div class="text-slate-500 rounded bg-gray-100 p-4">
      A participant is, for example, a "team" in basketball 5v5 / 3v3 tournament, a "player" in solo
      tennis tournament.
    </div>

    <h5>Participants</h5>

    <mat-chip-listbox
      class="mb-4"
      *ngIf="tournament?.participants?.length"
      aria-label="participant list"
      [ngModel]="tournament!.participants"
      name="participants"
      required
    >
      <mat-chip-option *ngFor="let p of tournament?.participants" (removed)="removeParticipant(p)">
        {{ p.name }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-option>
    </mat-chip-listbox>

    <div class="flex gap-4 justify-center">
      <button mat-button color="primary" type="button" (click)="addParticipant()">
        Add Participant
      </button>

      <button mat-button color="primary" type="button" (click)="bulkAddParticipants()">
        Bulk Add Participants
      </button>
    </div>
  </section>

  <h4>Tournament Stages</h4>

  <ng-container *ngFor="let stage of tournament?.stages; index as i">
    <tn-stage-editor
      [tournament]="tournament!"
      [stage]="stage"
      [index]="i"
      (change)="loadStage($event)"
    ></tn-stage-editor>
  </ng-container>
</div>
