<div class="flex justify-center">
  <form class="w-50" #f="ngForm" (ngSubmit)="handleLogin(f.value.email)">
    <p class="description">Sign in via magic link with your email below</p>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput ngModel name="email" placeholder="user@company.co" />
    </mat-form-field>
    <div>
      <button type="submit" color="primary" mat-raised-button [disabled]="loading">
        {{ loading ? 'Sending Magic Link...' : 'Send Magic Link' }}
      </button>
    </div>
  </form>
</div>
