<ng-container *ngFor="let group of matchGroups | keyvalue; count as groupCount">
  <h4 *ngIf="groupCount > 1" class="my-2">Group {{ group.key }}</h4>
  <section class="flex flex-wrap gap-4 mb-4 items-start">
    <tn-match-node
      *ngFor="let match of group.value | sort : 'sequence.seq'"
      [match]="match"
    ></tn-match-node>
  </section>
</ng-container>

<div class="absolute -top-4 -right-8 flex flex-col">
  <button mat-icon-button matTooltip="Copy and paste in spreadsheets" (click)="copy()">
    <mat-icon>description</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Download CSV export" (click)="download()">
    <mat-icon>download</mat-icon>
  </button>
</div>
