<h2 mat-dialog-title *ngIf="data.title">
  {{ data.title }}
</h2>

<form id="form-dialog-form" class="flex flex-col" #f="ngForm" (ngSubmit)="ref.close(f.value)">
  <ng-container *ngFor="let field of data.fields" [ngSwitch]="field.type">
    <mat-form-field *ngSwitchCase="'select'" appearance="standard">
      <mat-label>{{ field.label || field.name }}</mat-label>
      <mat-select
        [ngModel]="field.default"
        [name]="field.name"
        [required]="field.required ?? false"
        [disabled]="field.disabled ?? false"
        [placeholder]="field.placeholder ?? ''"
      >
        <mat-option
          *ngFor="let option of field.options"
          [value]="option.value"
          [disabled]="option.disabled"
        >
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'textarea'" appearance="standard">
      <mat-label>{{ field.label ?? field.name }}</mat-label>
      <textarea
        matInput
        [ngModel]="field.default"
        [name]="field.name"
        [required]="field.required ?? false"
        [disabled]="field.disabled ?? false"
        [placeholder]="field.placeholder ?? ''"
        rows="6"
      ></textarea>
    </mat-form-field>

    <mat-radio-group
      *ngSwitchCase="'radio'"
      class="!flex flex-col gap-4"
      [ngModel]="field.default"
      [name]="field.name"
      [required]="field.required ?? false"
      [disabled]="field.disabled ?? false"
    >
      <mat-radio-button *ngFor="let option of field.options" [value]="option.value">
        {{ option.label }}
      </mat-radio-button>
    </mat-radio-group>

    <!-- workaround -->
    <mat-form-field *ngSwitchCase="'number'" appearance="standard">
      <mat-label>{{ field.label ?? field.name }}</mat-label>
      <input
        matInput
        type="number"
        [ngModel]="field.default"
        [name]="field.name"
        [required]="field.required ?? false"
        [readonly]="field.readonly ?? false"
        [disabled]="field.disabled ?? false"
        [placeholder]="field.placeholder ?? ''"
        [min]="field.min ?? ''"
        [max]="field.max ?? ''"
      />
      <span matSuffix *ngIf="field.suffix">{{ field.suffix }}</span>
    </mat-form-field>

    <input *ngSwitchCase="'hidden'" type="hidden" [ngModel]="field.default" [name]="field.name" />

    <mat-form-field *ngSwitchDefault appearance="standard">
      <mat-label>{{ field.label ?? field.name }}</mat-label>
      <input
        matInput
        [type]="field.type ?? 'text'"
        [ngModel]="field.default"
        [name]="field.name"
        [required]="field.required ?? false"
        [readonly]="field.readonly ?? false"
        [disabled]="field.disabled ?? false"
        [placeholder]="field.placeholder ?? ''"
      />
      <span matSuffix *ngIf="field.suffix">{{ field.suffix }}</span>
    </mat-form-field>
  </ng-container>

  <ng-container
    *ngTemplateOutlet="
      data.otherFields;
      context: {$implicit: data.otherContext};
      injector: injector
    "
  ></ng-container>
</form>

<div mat-dialog-actions>
  <button type="submit" form="form-dialog-form" mat-button color="primary" [disabled]="f.invalid">
    {{ data.submitText ?? 'Submit' }}
  </button>
  <button type="button" mat-button (click)="ref.close()">
    {{ data.cancelText ?? 'Cancel' }}
  </button>
</div>
