<header class="flex flex-col text-center">
  @if (match.left) {
    <div>
      {{ match.leftP!.name }}@if (match.right) {
      <span> vs {{ match.rightP!.name }}</span>
    } @else {
      gets a BYE!
    }
  </div>
} @else {
  <span>TBD</span>
}

<small>
  <span>{{ match.start_at | date : 'yyyy-MM-dd HH:mm' }}</span>
  @if (match.end_at) {
    <span> - {{ match.end_at | date : 'HH:mm' }}</span>
  }
</small>

<small>{{ match.venue?.name }}</small>

</header>

<section class="flex gap-4 justify-center">
  @if (match.leftChild) {
    <tn-match-node [match]="match.leftChild"></tn-match-node>
  }
  @if (match.rightChild) {
    <tn-match-node [match]="match.rightChild"></tn-match-node>
  }
</section>
