<header class="flex flex-col text-center">
  <div *ngIf="match.left; else tbd">
    {{ match.leftP!.name }}<span *ngIf="match.right; else bye"> vs {{ match.rightP!.name }}</span>
  </div>

  <small>
    <span>{{ match.start_at | date : 'yyyy-MM-dd HH:mm' }}</span>
    <span *ngIf="match.end_at"> - {{ match.end_at | date : 'HH:mm' }}</span>
  </small>

  <small>{{ match.venue?.name }}</small>

  <ng-template #bye> gets a BYE!</ng-template>
  <ng-template #tbd><span>TBD</span></ng-template>
</header>

<section class="flex gap-4 justify-center">
  <tn-match-node *ngIf="match.leftChild" [match]="match.leftChild"></tn-match-node>
  <tn-match-node *ngIf="match.rightChild" [match]="match.rightChild"></tn-match-node>
</section>
