<mat-card *ngFor="let t of tournaments" class="!flex flex-col">
  <mat-card-title>{{ t.name }}</mat-card-title>
  <mat-card-subtitle>
    <span>{{ t.start_at | date }}</span>
    <span *ngIf="t.end_at"> - {{ t.end_at | date }}</span>
  </mat-card-subtitle>
  <mat-card-content class="flex-1">
    <pre class="whitespace-pre-wrap">{{ t.description }}</pre>
    <ol class="marker:text-slate-400">
      <li *ngFor="let s of t.stage | sort: 'order'">{{ s.name }} - {{ s.type | apply: casing }}</li>
    </ol>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/tournaments/{{ t.id }}/edit">Edit</a>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-content class="h-full !flex flex-col justify-center items-center">
    <p>New tournament</p>
    <a mat-stroked-button color="primary" routerLink="/tournaments/new">
      <mat-icon fontIcon="add"></mat-icon>
    </a>
  </mat-card-content>
</mat-card>
