<form (ngSubmit)="submit(f)" #f="ngForm" class="mt-4 min-w-[360px] flex flex-col items-stretch">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [ngModel]="params.name" name="name" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      [ngModel]="params.description"
      name="description"
      required
      cdkTextareaAutosize
      [cdkAutosizeMinRows]="8"
      [cdkAutosizeMaxRows]="20"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Start</mat-label>
    <input
      matInput
      [matDatepicker]="startPicker"
      [ngModel]="params.start_at"
      name="start_at"
      required
    />
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>End</mat-label>
    <input matInput [matDatepicker]="endPicker" [ngModel]="params.end_at" name="end_at" />
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>

  <key-value class="mb-4" [ngModel]="params.meta" name="meta"></key-value>

  <model-array
    class="mb-4 !flex flex-col gap-4"
    [ngModel]="params.stage"
    name="stage"
    required
    #array
  >
    <h4>Tournament Stages</h4>

    <mat-card *modelArrayItem="let stage">
      <mat-card-content class="!flex gap-4">
        <mat-form-field appearance="standard">
          <mat-label>Stage Name</mat-label>
          <input matInput [(ngModel)]="stage.name" required />
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="stage.type" required>
            <mat-option value="round_robin">Round Robin</mat-option>
            <mat-option value="elimination">Elimination</mat-option>
            <mat-option value="upper_lower">Upper-Lower Brackets</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </model-array>

  <button mat-button type="button" (click)="array.addItem(newStage(array))">Add Stage</button>

  <div class="flex gap-4 mt-4">
    <button mat-raised-button color="primary" [disabled]="f.invalid">Save</button>
    <a mat-button routerLink="/dashboard">Cancel</a>
  </div>
</form>
