<form (ngSubmit)="submit(f)" #f="ngForm" class="mt-4 min-w-[360px] flex flex-col items-stretch">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [ngModel]="params.name" name="name" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      [ngModel]="params.description"
      name="description"
      required
      cdkTextareaAutosize
      [cdkAutosizeMinRows]="8"
      [cdkAutosizeMaxRows]="20"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Start</mat-label>
    <input
      matInput
      [matDatepicker]="startPicker"
      [ngModel]="params.start_at"
      name="start_at"
      required
    />
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>End</mat-label>
    <input matInput [matDatepicker]="endPicker" [ngModel]="params.end_at" name="end_at" />
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>

  <key-value class="mb-4" [ngModel]="params.meta" name="meta"></key-value>

  <div class="flex gap-4">
    <button mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
    <a mat-button routerLink="/dashboard">Back</a>
  </div>
</form>
