@tailwind base;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}
