@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette, 500);
$accent: mat.define-palette(mat.$green-palette, A400, A200, A700);

$typography: mat.define-typography-config();

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: $typography,
  )
);

@include mat.all-component-themes($theme);
@include mat.form-field-density(-1);

@tailwind base;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

form.flex-col .mat-mdc-form-field:has(mat-hint, mat-error) {
  margin-bottom: 1em;
}
